#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100px;

}

#customers td, #customers th {
  border: 1px solid gray;
  padding: 8px;


}

#customers tr:nth-child(even){background-color: silver;}

#customers tr:hover {background-color: #ddd;}

#customers {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
 
}

